.cart {
    &__container {
        width: 100%;
        display: flex;

        gap: 16px;
    }
    &__gallery {
        flex: 1 0 50%;
    }
    &__info {
        flex: 1 0 50%;
    }
}
@media (max-width: 1200px) {
    .cart {
        &__container {
            max-width: 100%;
            width: 100%;
            display: block;

            gap: 16px;
        }
        &__gallery {
            flex: 1 0 50%;
        }
        &__info {
            flex: 1 0 50%;
        }
    }
}
