.gallery {
    height: 878px;
    position: relative;
    &__main-display {
        height: 100%;
        width: 100%;

        position: relative;

        img {
            max-height: 100%;
            width: 100%;

            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            object-fit: cover;
        }
    }
}

.gallery__thumbs {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 24px;
    left: 24px;

    & li {
        margin-bottom: 7px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.gallery__thumb {
    width: 70px;
    height: 91px;

    display: block;
    position: relative;

    background-color: #ccc;

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;right: 0;top: 0;bottom: 0;
        background-color: rgba($color: #FFFFFF, $alpha: 0.3);
        transition: all 0.3s;
    }

    &:hover {
        &::after {
            background-color: rgba($color: #FFFFFF, $alpha: 0);
        }
    }
}

@media (max-width: 1200px) {
    .gallery {
        height: 670px;
    }

    .gallery__thumb {
        width: 55px;
        height: 72px;
    }
}

@media (max-width: 768px) {
    .gallery {
        height: 480px;
    }

    .gallery__thumbs {
        & li {
            margin-bottom: 4px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    
    .gallery__thumb {
        width: 40px;
        height: 52px;
    }
}
